A panda series can be created in a variety of ways

In [7]:
import numpy as np

In [8]:
import pandas as pd

In [9]:
import matplotlib.pyplot as plt

You can create a Panda SERIES with a python list or a numpy array

In [10]:
numbers_series = pd.Series([100, 43, 26, 17, 17])

In [11]:
pandas.core.series.Series

NameError: name 'pandas' is not defined

In [12]:
numbers_series

0    100
1     43
2     26
3     17
4     17
dtype: int64

From a python directory

In [13]:
labeled_series = pd.Series({'a': 0, 'b': 1.5, 'c': 2, 'd':3.5, 'e':4, 'f':5.5 })

In [14]:
labeled_series

a    0.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

In [15]:
numbers_series + 1

0    101
1     44
2     27
3     18
4     18
dtype: int64

In [16]:
numbers_series > 40

0     True
1     True
2    False
3    False
4    False
dtype: bool

ATTRIBUTES

In [ ]:
.index 
RangeIndex(start=0, stop=5, step=1)
.values 
array([100, 43, 26, 17, 17])
.dtype 
(int64)
.name
numbers_series.name = 'Numbers'
numbers_series
100 
43
26
17
17
.size ***Null Values are included 
(5)
.shape ***returns rows and columns for a dataframe, returns rows for series 
(5, 3)

### Series Methods

In [ ]:
.head(n)
.tail(n)
.sample(n)
returns a random sample 
.astype
convert data types in a series 
num_strings = pd.Series([3, 4, 5, 6]).astype('str') ** or 'float' or 'int'
num_strings 
.value_counts() ***(it groups and counts) see series control f value_counts 
if the original panda series had 4 a's would return '4'
.describe 
*** returns a series of descriptive statistics 
****Descriptive Statistics Methods 
.count 
.sum 
.mean
.median 
.min
.max
.mode
.abs
.std
.quantile 
.nlargest
.nsmallest
.sort_values()
.sort_values(ascending=False)

## Indexing and Subsetting

This is where Pandas index shines; we can select subsets of our data using index labels, index position, or boolean sequences

In [17]:
numbers_series

0    100
1     43
2     26
3     17
4     17
dtype: int64

In [18]:
bools = numbers_series > 40

In [19]:
bools

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [20]:
numbers_series[bools]

0    100
1     43
dtype: int64

In [21]:
numbers_series[numbers_series > 40]

0    100
1     43
dtype: int64

In [ ]:
# Find the numbers that are even or greater than 7 
x[(x % 2 == 0) | (x > 7)]

In [ ]:
# Alternative syntax 
is_even = x % 2 == 0 
greater_than_seven = x > 7
x[is_even & greater_than_seven ]

String Methods

In [23]:
string_series.str.lower()

In [ ]:
string_series.str.replace('e', '_')

In [ ]:
string_series.str.lower().str.replace("$", "")

In [ ]:
#Method Chaining with indexing 
string_series[string_series.str.lower().str.startswith('h')]

In [ ]:
(numbers_series < 0).any() ** these return True or False

In [ ]:
(numbers_series < 0).all() ** these return True or False

In [ ]:
.isin

In [24]:
vowels = list('aeiou')
vowels

['a', 'e', 'i', 'o', 'u']

In [25]:
letters = list('abcdefghijk')
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [26]:
letters_series = pd.Series(letters)
letters_series

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
dtype: object

In [27]:
letters_series.isin(vowels)

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
dtype: bool

In [28]:
letters_series[letters_series.isin(vowels)]

0    a
4    e
8    i
dtype: object

In [ ]:
.apply

In [ ]:
#Find out if it is EVEN or ODD

In [ ]:
numbers_series.apply(lambda n: 'even' if n % 2 == 0 else 'odd')

##  Binning Data

In [30]:
s = pd.Series(list(range(15)))
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [32]:
#pd.cut(s, bins=n) You can pass a number and it will cut the bin into 3 equal parts or 
#pass a list in to specify where you want the boundaries of your list 
pd.cut(s, 3)

0     (-0.014, 4.667]
1     (-0.014, 4.667]
2     (-0.014, 4.667]
3     (-0.014, 4.667]
4     (-0.014, 4.667]
5      (4.667, 9.333]
6      (4.667, 9.333]
7      (4.667, 9.333]
8      (4.667, 9.333]
9      (4.667, 9.333]
10      (9.333, 14.0]
11      (9.333, 14.0]
12      (9.333, 14.0]
13      (9.333, 14.0]
14      (9.333, 14.0]
dtype: category
Categories (3, interval[float64, right]): [(-0.014, 4.667] < (4.667, 9.333] < (9.333, 14.0]]

In [33]:
# How many values fall into each bin? 
pd.cut(s, 3).value_counts()

(-0.014, 4.667]    5
(4.667, 9.333]     5
(9.333, 14.0]      5
dtype: int64

In [ ]:
#to group the data and return aggregate sum 
s.value_counts(bins=3)

In [ ]:
.plot()

In [35]:
#number_series.plot()
#plt.show()
# control F plotting data

## Summarizing dataframes

In [ ]:
.info()
.describe()
.dtypes()
.shape()
.columns()
.index()

Subsetting Dataframes

In [ ]:
#accessing multiple columns 
df[['name', 'math']]
#accessing individual columns 
df.math
#accessing row subsets 
df.head
df.tail
df.sample
df.math < 80 ***returns boolean 
df[df.math < 80] *** this will return the actual rows where it is True 
df.drop(columns=['english', 'reading'])
df.rename(columns={'name': 'stuent'}) ***replaced name with student

Creating New Columns

In [37]:
df['passing_math'] = df.math > 70 
#Create a new column 'passing math' returns boolean

In [ ]:
df.sort_values(by='english')
#will return dataframe back with english grades lowest to highest
df.sort_values(by='english', ascending=False)

Chaining Dataframe Methods

In [ ]:
df[df.english > 90].sort_values(by= 'english').head(1).name

In [ ]:
bools = df.name.str.startswith('A')
bools
## will return a list of false and true statements
df[bools]
##will return the actual rows that fit 'True '

In [ ]:
#choose all the rows and a subset of columns, in this case math and reading
df.loc[:, 'math': 'reading']

In [ ]:
#You can also use a boolean Series as a selector 
df.loc[bools, 'name': 'reading']

In [ ]:
df.iloc[:3, 1:3]

Aggregating

In [ ]:
df.reading.agg('min')
#returns min reading grade

In [ ]:
df[['english', 'reading', 'math']].agg(['mean', 'min', 'max'])
#returns mean, min, max of english, reading and math columns

In [ ]:
df.groupby('column').math.max()
df.groupby('column').math.agg(['min', 'max', 'mean'])

In [ ]:
np.where(condition, this_where_true, this_where_false)
#Create a New column based on existing column, column returns failing if student is under 70, or passing 
df['passing_math'] = np.where(df.math < 70, 'failing', 'passing')

## Transform

The .transform method can be used to produce a series with the same length of the original dataframe where each value represents the aggregation from the subgroup resulting from the .groupby

## Concat

This function takes in a list or dictionary of Series or DataFrame objects and joins them along a particular axis, row-wise axis=0 or column-wise axis =1

In [ ]:
pd.concat([df1, df2], axis=0)

In [ ]:
#commonly used parameters 
left_df.merge(right_df, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, indicator=False)

## Reshaping

In [ ]:
Common operations that can be used to summarize data by different subgroups

In [ ]:
pd.crosstab(df.passing_math, df.classroom)
#classroom is moved from a column to a row header and separated by a and b
#passing_math is converted into two rows 'failing' and 'passing'
#if you want to see subtotals you set margins=True

In [ ]:
.pivot_table 
df.pivot_table(index= which_values_you_want_in_rows, columns = 'which_values_you_want_columns', values = 'values_we_are_aggregating')

In [39]:
Bakery = ["Sunday", "Monday", "Tuesday"], ["Concha", "Sopapilla"]

In [40]:
b = pd.Series(Bakery)

In [41]:
b

0    [Sunday, Monday, Tuesday]
1          [Concha, Sopapilla]
dtype: object

In [44]:
b.assign(diff_days=b.groupby('day').math.transform('sum'))

AttributeError: 'Series' object has no attribute 'assign'